<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='JS/vue.js'></script>
</head>

<body>
    <div class="box">
        <input type="text" v-model='ad'>
        <button v-on:click='add'>添加</button>
        <button v-on:click='del'>删除</button>
        <button v-on:click='slic'>替换</button>
        <ul>
            <li v-bind:key='index' v-for='(item,index) in list'>{{item}}</li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: '.box',
            data: {
                ad: '',
                list: ['oppo', 'ipone', 'xiaomi']
            },
            methods: {
                add: function() {
                    if (this.ad != '') {
                        this.list.push(this.ad)
                    }


                },
                del: function() {
                    this.list.pop()
                },
                slic: function() {
                    this.list = this.list.slice(1, 2);
                }

            }
        })
    </script>


</body>

</html>